<!DOCTYPE html>
<html>
<head>
    <title>Get Geodata</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset_css.css')}}" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}" />
</head>
<body>
    <div class="top-menu">
        <ul>
            <!-- <li><a id="getLocationBtn" href="#get-location">Get Location</a></li> -->
            <li><a href="#">About</a></li>
            <li><a href="#">Settings</a></li>
            <li><p id="geodata"></p></li>
        </ul>
    </div>
    <div class="content">
        <iframe id="map-iframe" src="{{ map_html | safe }}" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="bottom">
        <p>Copyright &copy; 2024 GeoApp</p>
        <p>Author: Andrei Cenusa</p>
    </div>

    <a id="getLocationBtn" class="floating-btn" href="#get-location">📍</a>

    <script>
        document.getElementById('getLocationBtn').addEventListener('click', function(event) {
            event.preventDefault();
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    document.getElementById('geodata').innerHTML = latitude + ', ' + longitude;

                    // Send latitude and longitude to server
                    fetch('/map', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({latitude: latitude, longitude: longitude})
                    }).then(function(response) {
                        if (response.ok) {
                            return response.text();
                        }
                        throw new Error('Network response was not ok.');
                    }).then(function(mapHtml) {
                        // Update the map iframe with the received HTML
                        document.getElementById('map-iframe').srcdoc = mapHtml;
                    }).catch(function(error) {
                        console.error('There was a problem with the fetch operation:', error);
                    });
                });
            } else {
                document.getElementById('geodata').innerHTML = 'Geolocation is not supported by this browser.';
            }
        });
    </script>
</body>
</html>
