<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3e89554664f307e38d2f6331b96894be {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3e89554664f307e38d2f6331b96894be" ></div>
        
</body>
<script>
    
    
            var map_3e89554664f307e38d2f6331b96894be = L.map(
                "map_3e89554664f307e38d2f6331b96894be",
                {
                    center: [47.7643, 27.5169],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_c7e5deabe1d7387b0b3c8dbb653e04bd = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_c7e5deabe1d7387b0b3c8dbb653e04bd.addTo(map_3e89554664f307e38d2f6331b96894be);
        
    
            var marker_002beac7afff479c83f169aac8a69329 = L.marker(
                [47.7643, 27.5169],
                {}
            ).addTo(map_3e89554664f307e38d2f6331b96894be);
        
    
            marker_002beac7afff479c83f169aac8a69329.bindTooltip(
                `<div>
                     Текущее положение
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_7589707f391031f781af84fbdbc2d602 = L.polygon(
                [[47.75929, 27.46054], [47.75941, 27.45984], [47.75952, 27.4591], [47.75956, 27.45896], [47.75962, 27.45888], [47.76201, 27.45821], [47.76254, 27.4575], [47.76323, 27.45666], [47.76386, 27.4576], [47.76392, 27.45766], [47.76434, 27.45858], [47.7647, 27.45852], [47.76531, 27.45788], [47.76539, 27.45788], [47.76586, 27.45793], [47.7661, 27.45794], [47.76675, 27.45783], [47.76766, 27.45759], [47.76817, 27.45752], [47.76836, 27.45745], [47.76868, 27.45739], [47.76879, 27.45748], [47.76902, 27.45783], [47.76906, 27.45808], [47.76904, 27.45888], [47.76899, 27.4592], [47.76871, 27.4602], [47.76866, 27.46043], [47.76864, 27.46061], [47.76857, 27.46254], [47.76864, 27.46268], [47.76893, 27.46303], [47.76829, 27.46315], [47.768, 27.46316], [47.76779, 27.46312], [47.76636, 27.4625], [47.76599, 27.46239], [47.76352, 27.46184], [47.76248, 27.46152], [47.76148, 27.4611], [47.76081, 27.4609], [47.75935, 27.46058]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_3e89554664f307e38d2f6331b96894be);
        
    
            polygon_7589707f391031f781af84fbdbc2d602.bindTooltip(
                `<div>
                     Teritoriu 2
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_9112edc603e620749a64c459d1a5beb8 = L.polygon(
                [[47.75927, 27.46054], [47.75779, 27.45999], [47.75652, 27.4594], [47.75621, 27.45903], [47.7572011, 27.4578334], [47.75666, 27.45695], [47.760534, 27.4525276], [47.7615223, 27.4543951], [47.76372, 27.45269], [47.7639, 27.45315], [47.76366, 27.45369], [47.76356, 27.45418], [47.76371, 27.45491], [47.76373, 27.45523], [47.76361, 27.4557], [47.76322, 27.45665], [47.76201, 27.45822], [47.7596, 27.45889], [47.7595, 27.45917]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_3e89554664f307e38d2f6331b96894be);
        
    
            polygon_9112edc603e620749a64c459d1a5beb8.bindTooltip(
                `<div>
                     Teritoriu 1
                 </div>`,
                {"sticky": true}
            );
        
    
            var polygon_e96dbe48e93bec6bb827d9e6dc991c13 = L.polygon(
                [[47.75927, 27.46054], [47.76893, 27.46303], [47.76829, 27.46315], [47.768, 27.46316], [47.76779, 27.46312], [47.76636, 27.4625], [47.76599, 27.46239], [47.76352, 27.46184], [47.76248, 27.46152], [47.76148, 27.4611], [47.76081, 27.4609], [47.75935, 27.46058], [47.76908, 27.46305], [47.76922, 27.46309], [47.7698, 27.4634], [47.76966, 27.46347], [47.76961, 27.46354], [47.7696, 27.46362], [47.7696, 27.46392], [47.76949, 27.46397], [47.76912, 27.46492], [47.7689, 27.465], [47.76857, 27.46484], [47.76853, 27.46517], [47.76845, 27.4655], [47.76825, 27.46646], [47.76782, 27.46794], [47.76299, 27.46712], [47.763, 27.46715], [47.7579, 27.4645], [47.7567, 27.4644], [47.7546, 27.4637], [47.7537, 27.4622], [47.7553, 27.4592]],
                {"bubblingMouseEvents": true, "color": "yellow", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "yellow", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_3e89554664f307e38d2f6331b96894be);
        
    
            polygon_e96dbe48e93bec6bb827d9e6dc991c13.bindTooltip(
                `<div>
                     Teritoriu 3
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>